<a href="https://colab.research.google.com/github/paulsonjinkutty/paulsonjinkutty/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("/content/people-1000 (1).csv")
print(df.head())

   Index          User Id First Name Last Name     Sex  \
0      1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1      2  3d5AD30A4cD38ed         Jo    Rivers  Female
2      3  810Ce0F276Badec     Sheryl    Lowery  Female
3      4  BF2a889C00f0cE1    Whitney    Hooper    Male
4      5  9afFEafAe1CBBB9    Lindsey      Rice  Female

                           Email               Phone Date of birth  \
0            pwarner@example.org        857.139.8239    2014-01-27
1  fergusonkatherine@example.net     +1-950-759-8687    1931-07-26
2            fhoward@example.org       (599)782-0605    2013-11-25
3          zjohnston@example.com     +1-939-130-6258    2012-11-17
4               elin@example.net  (390)417-1635x3010    1923-04-15

                  Job Title
0         Probation officer
1                    Dancer
2                      Copy
3  Counselling psychologist
4       Biomedical engineer

In [13]:
df = pd.read_csv('/content/sample_data/mnist_train_small.csv')
print(df.head())

   6  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.581  0.582  0.583  \
0  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  7  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
4  2  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.584  0.585  0.586  0.587  0.588  0.589  0.590
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0

[5 rows x 785 columns]

In [18]:
df = pd.read_csv("/content/people-1000 (1).csv")
df.head(10)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,8717bbf45cCDbEe,Shelia,Mahoney,Male,pwarner@example.org,857.139.8239,2014-01-27,Probation officer
1,2,3d5AD30A4cD38ed,Jo,Rivers,Female,fergusonkatherine@example.net,+1-950-759-8687,1931-07-26,Dancer
2,3,810Ce0F276Badec,Sheryl,Lowery,Female,fhoward@example.org,(599)782-0605,2013-11-25,Copy
3,4,BF2a889C00f0cE1,Whitney,Hooper,Male,zjohnston@example.com,+1-939-130-6258,2012-11-17,Counselling psychologist
4,5,9afFEafAe1CBBB9,Lindsey,Rice,Female,elin@example.net,(390)417-1635x3010,1923-04-15,Biomedical engineer
5,6,aF75e6dDEBC5b66,Sherry,Caldwell,Male,kaitlin13@example.net,8537800927,1917-08-06,Higher education lecturer
6,7,efeb05c7Cc94EA3,Ernest,Hoffman,Male,jeffharvey@example.com,093.655.7480x7895,1984-12-22,Health visitor
7,8,fb1BF3FED57E9d7,Doris,Andersen,Male,alicia33@example.org,4709522945,2016-12-02,Air broker
8,9,421fAB9a3b98F30,Cheryl,Mays,Male,jake50@example.com,013.820.4758,2012-12-16,"Designer, multimedia"
9,10,4A42Fe10dB717CB,Harry,Mitchell,Male,lanechristina@example.net,(560)903-5068x4985,1953-06-29,Insurance account manager

In [ ]:
df = pd.read_csv("/content/people-1000 (1).csv")
print(df.head())